@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatSlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-10px) translateX(5px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes floatMedium {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(8px) translateX(-6px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes floatFast {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(-6px) translateX(4px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #111827 !important; /* gray-900 */
  transition: background-color 9999s ease-in-out 0s;
  font-size: 14px !important;
}
